.header {
    border-radius: 0 0 50px 50px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 400px;
}

.highlight {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
    margin-bottom: 17px;
    width: 100%;
    max-height: 150px;
}

.bg-header {
    background-image: url("/sampul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacity-bg {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.rounded-circle {
    /* padding: 20px;
    height: 120px;
    width: 120px; */
    border-radius: 50% !important;
}

.bg-rounded-circle {
    margin: 5px;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    position: static;
}

.teksdeskripsi {
    color: black;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 15px;
}
.text-muted {
    color: grey;
}

.teksdeskripsi2 {
    color: black;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
}

body {
    background-color: #eaeaea;
}

/* svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
    fill: whitesmoke;
} */

a {
    text-decoration: inherit;
    color: black;
}

.rounded-circle {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-profile {
    text-align: center;
}

.btn-active {
    position: relative;
}

.btn-active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: blue;
}

.box.large {
    height: 300px;
    width: 250px;
}

.body-post .post-foto {
    width: 210px;
    height: 210px;
    /* background: #eee; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 5px 5px 0;
    overflow: hidden;
    object-fit: cover !important;
}

.tab-content > .active {
    display: block;
}

.img-fluid {
    max-width: 100%;
    object-fit: cover !important;
}

.card-img-top {
    height: 160px;
}

.pro-img {
    margin-top: -50px;
    margin-bottom: 2px;
}

.little-profile .pro-img img {
    width: 68px;
    height: 68px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    border-radius: 100%;
    background: #ffffff;
    box-shadow: 5px 5px 100px #666666, -5px -5px 100px #ffffff;
}

/* Highlight Story Section  */

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1px;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-post .post-video {
    width: 210px;
    height: 210px;
    /* background: #eee; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 5px 5px 0;
    overflow: hidden;
    object-fit: cover !important;
}

.video {
    width: 180%;
    margin-top: 2%;
}

.navbar-logo {
    height: 35px;
    margin: none;
}

.modal-qrcode > svg {
    min-height: 30vw;
    min-width: 30vw;
}

.post-profil {
    width: 60px;
    height: 60px;
}

.splide__slide {
    width: auto !important;
}

.posisi {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}
.navbar-toggle {
    z-index: 3;
}
@media (max-width: 576px) and (max-width: 768px) {
    .gallery-item-type {
        font-size: 30px;
    }

    .bg-rounded-circle {
        margin: 5px;
        height: 60px;
        width: 60px;
        background-color: white;
        border-radius: 50%;
        position: static;
    }
}
