.post-profil {
    width: 60px;
    height: 60px;
}

.post-box {
    border-radius: 13px;
    background: #ffffff;
    box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
    max-width: 80%;
}

@media only screen and (max-width: 450px) {
    .post-box {
        max-width: 100%;
    }

    .fw-light {
        font-size: 0.7rem;
    }

    .text-purple {
        font-size: 0.6rem;
    }
    .namejob {
        font-size: 1rem;
    }
}
